* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width:100vh ;
  width: 100vw;
  background: linear-gradient(100deg,#55548c 0%,  #2A1943 );
   font-family: "Poppins", sans-serif;
}